/* Fonts Added */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

/* Common Styles */
.btn-primary {
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  background-color: #39A7FF;
  border: 0;
  padding: 15px 25px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.btn-secondary {
  font-size: 18px;
  font-weight: 700;
  color: #39A7FF;
  background-color: #39a6ff00;
  border: 2px solid #39A7FF;
  padding: 15px 25px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.btn-container {
  display: flex;
  gap: 30px;
  align-items: center;
}

.section-title {
  color: #181818;
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 30px;
}

.section-description {
  color: #757575;
  text-align: center;
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 30px;
}

/* Header Styles */
header {
  background: #F3F9FF;
  background-image: url('images/header_bg_blue.png'), url('images/developer.png');
  background-repeat: no-repeat;
  background-position: bottom right, top 30px left;
  padding-top: 35px;
  padding-left: 210px;
}

/* Nav Styles */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  margin-right: 50px;

}

.nav-title {
  font-size: 42px;
  font-weight: 800;
  color: #1E1E1E;
}

.text-primary {
  color: #39A7FF;
}

nav ul {
  display: flex;
  align-items: center;
}

nav ul>li {
  list-style: none;
  margin-left: 50px;
}

nav ul li>a {
  text-decoration: none;
  color: #474747;
  font-size: 18px;
}

/* Hero Section Styles */

.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-section>img {
  width: 600px;
  margin-right: 10px;
}

.hero-content>h3 {
  color: #474747;
  font-size: 42px;
  font-weight: 600;
}

.hero-content>h1 {
  color: #181818;
  font-size: 80px;
  font-weight: 700;
  margin-top: 5px;
  margin-bottom: 20px;
}

.hero-content>p {
  color: #757575;
  font-size: 16px;
  line-height: 28px;
  width: 550px;
  margin-bottom: 30px;
}

/* Main Section Styles*/
main {

  max-width: 1065px;
  margin: auto;
}

/* About Section Styles*/
.about-section {
  padding: 120px 140px;
  border-radius: 9.35px;
  background: #F3F9FF;
  margin: 120px 0;
}

.about-info-container {
  display: flex;
  justify-content: space-evenly;
}

.about-info {
  text-align: center;
}

.info-title {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 5px;
}

.info-description {
  color: #474747;
  font-size: 16px;
  font-weight: 700;
}

#what-i-do {
  width: 60%;
  margin: 0 auto 45px;
}


.skills-container {
  display: flex;
  justify-content: center;
  gap: 22px;
}

.skill {
  width: 250px;
  height: 350px;
  border-radius: 5px;
  background: #FFF;
  box-shadow: 0px 5.61px 46.75px 0px rgba(0, 0, 0, 0.06);
  padding: 30px;
  margin-bottom: 120px;
}

.skill-title {
  color: #181818;
  font-size: 20px;
  font-weight: 700;
  margin: 28px 0 18px;
}

.skill-description {
  color: #757575;
  font-size: 16px;
  line-height: 28px;
}